JWT_SECRET=
CLIENT_ID=
FB_CLIENT_ID=
FB_SECRET_KEY=
MONGO_DB_URI=
CLIENT_ID_NODEMAILER=
CLIENT_SECRET_NODEMAILER=
REFRESH_TOKEN=
USER=
PWD=
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
API_KEY=
AUTH_DOMAIN=
PROJECT_ID=
STORAGE_BUCKET=
MESSAGING_SENDER_ID=
APP_ID=